[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = https://github.com/jippi/puppet-php.git
[submodule "puppet/modules/puphpet"]
	path = puppet/modules/puphpet
	url = https://github.com/puphpet/puppet-puphpet.git
